<?xml version="1.0"?> 
<!DOCTYPE web-app PUBLIC 
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd"> 
<web-app> 


 <servlet>
   <servlet-name>Login</servlet-name>
   <servlet-class>com.soward.util.Login</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>Login</servlet-name>
   <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 
 <servlet>
   <servlet-name>PagesUtil</servlet-name>
   <servlet-class>com.soward.util.PagesUtil</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>PagesUtil</servlet-name>
   <url-pattern>/PagesUtil</url-pattern>
 </servlet-mapping>
 
 <servlet>
   <servlet-name>EmailServlet</servlet-name>
   <servlet-class>com.soward.util.EmailServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>EmailServlet</servlet-name>
   <url-pattern>/EmailServlet</url-pattern>
 </servlet-mapping>

 <servlet>
   <servlet-name>NewElder</servlet-name>
   <servlet-class>com.soward.util.NewElder</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>NewElder</servlet-name>
   <url-pattern>/NewElder</url-pattern>
 </servlet-mapping>

 <servlet>
   <servlet-name>UserUtil</servlet-name>
   <servlet-class>com.soward.util.UserUtil</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>UserUtil</servlet-name>
   <url-pattern>/UserUtil</url-pattern>
 </servlet-mapping>

 <servlet>
   <servlet-name>ReportsUtil</servlet-name>
   <servlet-class>com.soward.reports.ReportsUtil</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>ReportsUtil</servlet-name>
   <url-pattern>/ReportsUtil</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
   <servlet-name>AjaxStats</servlet-name>
   <servlet-class>com.soward.ajax.AjaxStats</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>AjaxStats</servlet-name>
   <url-pattern>/AjaxStats</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
   <servlet-name>AjaxStatsSum</servlet-name>
   <servlet-class>com.soward.ajax.AjaxStatsSum</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>AjaxStatsSum</servlet-name>
   <url-pattern>/AjaxStatsSum</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
   <servlet-name>AjaxEQFam</servlet-name>
   <servlet-class>com.soward.ajax.AjaxEQFam</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>AjaxEQFam</servlet-name>
   <url-pattern>/AjaxEQFam</url-pattern>
 </servlet-mapping>
 
 
 <servlet>
   <servlet-name>EditMember</servlet-name>
   <servlet-class>com.soward.util.EditMember</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>EditMember</servlet-name>
   <url-pattern>/EditMember</url-pattern>
 </servlet-mapping>

 
 <servlet>
   <servlet-name>NewMember</servlet-name>
   <servlet-class>com.soward.util.NewMember</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>NewMember</servlet-name>
   <url-pattern>/NewMember</url-pattern>
 </servlet-mapping>


 <servlet>
   <servlet-name>NewNote</servlet-name>
   <servlet-class>com.soward.util.NewNote</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>NewNote</servlet-name>
   <url-pattern>/NewNote</url-pattern>
 </servlet-mapping>

 <servlet>
   <servlet-name>NewFamily</servlet-name>
   <servlet-class>com.soward.util.NewFamily</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>NewFamily</servlet-name>
   <url-pattern>/NewFamily</url-pattern>
 </servlet-mapping>


 <servlet>
   <servlet-name>NewHTStats</servlet-name>
   <servlet-class>com.soward.util.NewHTStats</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>NewHTStats</servlet-name>
   <url-pattern>/NewHTStats</url-pattern>
 </servlet-mapping>


<error-page>
    <error-code>404</error-code>
    <location>/home.jsp?message=A HTML 404 occured, please contact sys admin or login in again.</location>
</error-page>

<error-page>
    <error-code>403</error-code>
    <location>/home.jsp?message=A HTML 403 occured, please contact sys admin or login in again.</location>
</error-page>

<error-page>
    <error-code>505</error-code>
    <location>/home.jsp?message=A HTML 505 occured, please contact sys admin or login in again.</location>
</error-page>

<welcome-file-list>
  <welcome-file>home.jsp</welcome-file>
</welcome-file-list>

<!--  
-->

<error-page>
    <error-code>500</error-code>
    <location>/home.jsp?message=A HTML 500 occured, please contact sys admin or login in again.</location>
</error-page>


</web-app>




